header {
  @include flex-center(row, space-between, center);
  background-color: $background-color;
  color: $text-color;
  padding: 20px 0;
  margin:  0 100px 0 100px;

  nav {
    ul {
      display: flex;
      list-style-type: none;
      gap: 20px;
    } 
      li {
       a {
        text-decoration: none;
        color: $text-color;
        font-family: $font-primary;
        font-size: 1.2rem;
        transition: color 0.3s ease;

        &:hover {
          color: $secondary-color;
          text-decoration: underline;

        }

        &.active {
          color: $secondary-color;
          
        }
       }

    }
  }

}